@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-yellow-50 text-purple-600;
  }
}

@layer components {
  .btn-primary {
    @apply bg-purple-400 hover:bg-purple-500 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-200;
  }
  
  .btn-secondary {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-lg transition-colors duration-200;
  }
  
  .card {
    @apply bg-yellow-50 rounded-xl shadow-lg p-6;
  }
}
